<div class="container-fluid">
    <div class="row">
        <div class="col-sm-5">
            <div class="image">
                <img src="https://img.freepik.com/free-photo/close-up-businesswoman-signing-contract-office_637285-117.jpg?w=740&t=st=1706588914~exp=1706589514~hmac=ef1f072dca3c5c6892f83d187543ba97b449b45eb9105b4e28aaa14b18d0c314" class="img-fluid">
            </div>
        
        </div>

        <div class="col-sm-6" style="margin-left: 39px;">
            <div class="card">
                <h5>Update Contact</h5>

                <div class="row">
                    <form>
                        <div class="form-group mb-1">
                          <label for="exampleInputEmail1" class="form-label">First Name</label>
                          <input type="text" class="form-control" [(ngModel)]="contactdata.firstname" name="firstname" >    
                        </div>
                        <div class="form-group mb-1">
                            <label for="exampleInputEmail1" class="form-label">Last Name</label>
                            <input type="text" class="form-control" [(ngModel)]="contactdata.lastname" name="lastname"  >    
                          </div>
                          <div class="form-group mb-1">
                            <label for="exampleInputEmail1" class="form-label">PhoneNumber</label>
                            <input type="number" class="form-control" [(ngModel)]="contactdata.phonenumber" name="phonenumber" >    
                          </div>
                          <div class="form-group mb-1">
                            <label for="exampleInputEmail1" class="form-label">City</label>
                            <input type="text" class="form-control" [(ngModel)]="contactdata.city" name="city" >    
                          </div>

                          <div class="text-center">
                            <button type="submit" class="btn btn-primary" (click)="update()">update</button>&nbsp;
                            <button type="submit" routerLink="/contactlist" class="btn btn-success">Back</button>
                          </div>

                       
                      </form>
                </div>
            </div>
        </div>
    </div>
</div>
